{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row ">
        <div style="padding: 20px;">
            <img class="card-img bg-transparent" src="https://kuk-marketing-2.s3.eu-west-2.amazonaws.com/media/top-half.jpg">

        </div>
        <div class="col-sm">
            <h4 class="display-4 logo-font text-black, main-header.style">
                KUK
               </h4>
               <h4 class="display-4 logo-font text-black">Shine Now!</h4>
               <div class="my-5"><p class="lead box"><strong><span>KUK</span></strong> offers a comprehensive range of services to take your company's Web presence to the next level.</p>
    
                <!--<h4>
                <a href="/services/services/contact" class="view-now-button btn btn-lg rounded-0 text-uppercase py-3">Shine Now</a>
                </h4> -->
                <h4>
                    <a href="{% url 'contact' %}" class="shine-now-button btn-outline-black btn-outline-black:hover
                    btn-outline-black:active btn-outline-black:focus btn btn-lg rounded-0 text-uppercase py-3">Shine Now!</a>
                </h4>
            
            </div>
        </div>

        <div class="col-sm">
            <!--<iframe width="100%" height="100%" src="https://www.youtube.com/embed/SdLv2os6HC4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <iframe width="100%" height="100%" src="https://kuk-marketing.s3.amazonaws.com/video/output.gif" alt="kukmarketing" frameborder="0" allow="accelerometer; encrypted-media; clipboard-write; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class container>
            <div style="padding: 20px;">
                    <img class="card-img bg-transparent" src="https://kuk-marketing-2.s3.eu-west-2.amazonaws.com/media/bottom-half.jpg">
            </div>
        </div>


    </div>
    
</div>
<br><br>
{% endblock %}