{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <div class="row">
                <div class="col">
                    <h1 class="display-4">SHINE YOUR BUSINESS</h1>
                    <hr class="my-4">
                    <p class="lead box">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                    <div class="my-5">
                        <h4>
                            <a href="{% url 'products' %}"
                                class="shine-now-button btn btn-lg rounded-0 text-uppercase py-3">Shine Now</a>
                        </h4>
                    </div>

                </div>
                <div class="col">
                    <img src="{% static 'video/output.gif'%}" alt="kukmarketing" width="480px">
                </div>

            </div>

        </div>

    </div>
</div>

<div class="row">
    <h1 class="display-4 logo-font text-black, main-header.style">

    </h1>
</div>
<div class="row">

</div>
{% endblock %}