{% extends "base.html" %}

<!-- {% load static %} -->
{% load static %}

{% block extra_css %}
<!-- Bootstrap extra clean-blog for services app -->
  <link rel="stylesheet" href="{ url_for('services/static', filename='services/css/clean-blog.min.css') }" >
  <link rel="stylesheet" href="{ url_for('services/static', filename='services/css/clean-blog.css') }" >
  <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}


{% block extra_js %}
<!-- Bootstrap extra JavaScript for services app -->
    <script src="{ url_for('services/static', filename='vendor/jquery/jquery.min.js') }"></script>
    <script src="{ url_for('services/static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }"></script>
    <!-- Custom scripts for services template -->
    <script src="{ url_for('services/static', filename='js/clean-blog.min.js') }"></script>
{% endblock %}

{% block content %}  
        <div class="container header-container">
          <div class="card">
              <div class="card-body">
                  <div class="row h-100">
                      <div class="card bg-white text-dark">
                          <img class="card-img" src="https://kuk-milestone-4.s3.amazonaws.com/media/shine_bus.jpg" alt="Shine!">
                      <div class="col-7 col-md-6 my-auto"> 
                          <h4 class="display-4 logo-font text-black, main-header.style">
                            About Us
                          </h4>
                      </div>
                  </div>
                  <div class="col-7 col-md-6 my-auto"> 
                      <h3 class="card-text">What we do</h3> 
                      <h4>We want to shine in</h4> 
                      <h4>a fast pace world!</h4>
                      <p>We are a small niche marketing and website development business with over twenty years of experience in marketing and communications. From Startups to businesses needing a revamp. In all shapes and sizes, we are here to help.  Our business has expanded mainly by word of mouth. Book a consultation with your requirements now. Check out some testimonials from satisfied customers below.</p>
                      <h4 class="card-textS">Testimonials</h4>
                       <quote>
                          “My experiences with Sara as a website developer have been excellent. I employed Sara to update and redesign the website for my personal training and fitness business. It has been brilliant seeing how the website has transformed through all the work Sara has done on it, especially how the site has become so much more engaging, sophisticated and interactive. Sara listened attentively to understand exactly what I was looking for and used her many years of professional and technical experience to deliver this. I highly recommend Sara as a website developer – she is professional, conscientious and will work with you to deliver what you are after.”
                        </quote>
                         <br>
                        <quote><h6>~ Alex DL ~</h6>
                            <h6>Personal Trainer & Fitness Specialist</h6>
                            <p><a class="shine-now-button btn btn-lg rounded-0 text-uppercase py-3" href="https://alexdelyon.com/" target="_blank" role="button">Alexdelyon.com</a></p>
                         </quote>
                         <br>
                         <quote>
                          "Working with Sara and her team was an absolute joy. Sara understood my requirements and even suggested ideas which I had not thought of. I wanted a simple and beautiful website on a strict budget, to fullfill the needs of my community and this site reflects this. The three month aftersales service is great too. Thank you Sara"
                        </quote>
                         <br>
                        <quote><h6> ~ Susan B ~</h6> 
                          <h6>Marketing and Communiity</h6>
                          <p><a class="shine-now-button btn btn-lg rounded-0 text-uppercase py-3" href="https://soliv1.github.io/rewilding-london/" target="_blank" role="button">RewildingLondon.com</a></p>
                         </quote>
                         <br>
                        <quote>
                          "I unreservedly recommend Sara and her team.  Together with her expertise and my ideas, we built a bespoke website from conception to completion.  I was very impressed with some of the cool features which were included in my premium package.  I have the opportunity to add deposit payments online should I wish it.  Currently used a wish list to encourage students to book early when renting their favoutie student accomodation from our niche portfolio, with their friends in our popular locations. A beautiful and user friendly site."
                        </quote>
                         <br>
                        <quote><h6>~ Annabel W ~ Student Lets and Property Management</h6>
                           <h6>Landlord</h6>
                           <p><a class="shine-now-button btn btn-lg rounded-0 text-uppercase py-3" href="http://www.gradpads.net/" target="_blank" role="button">GradPads.net</a></p>
                        </quote>
                   </div>
                    
                    
                  <div class="row">
                      <div class="col-7 my-auto">
                          <h4>
                              Contact us now to discuss your requirements
                          </h4>
                      </div>
                      <div class="my-5">
                          <h4>
                              <a href="{% url 'contact' %}" class="shine-now-button btn btn-lg rounded-0 text-uppercase py-3">Get Quote</a>
                          </h4>
                      </div>
                      <h4>
                        We are continually updating and adding new features to this new website so please visit us again soon
                      </h4
                  </div>
              </div>
          </div>             
{% endblock %}
