{% extends "base.html" %}

<!-- {% load static %} -->
{% load static %}

{% block extra_css %}
<!-- Bootstrap extra clean-blog for services app -->
<link rel="stylesheet" href="{ url_for('services/static', filename='services/css/clean-blog.min.css') }" >
<link rel="stylesheet" href="{ url_for('services/static', filename='services/css/clean-blog.css') }" >
<link rel="stylesheet" href="{ url_for('services/static', filename='services/css/services.css') }" >
<link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block extra_js %}
<!-- Bootstrap extra JavaScript for services app -->
    <script src="{ url_for('services/static', filename='vendor/jquery/jquery.min.js') }"></script>
    <script src="{ url_for('services/static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }"></script>
    <!-- Custom scripts for services template -->
    <script src="{ url_for('services/static', filename='js/clean-blog.min.js') }"></script>
{% endblock %}

{% block content %}
<div class="container header-container">
    <div class="card">
        <div class="card-body">
            <div class="row h-100">
                <div class="card bg-white text-dark">
                    <img class="card-img" src="https://kuk-milestone-4.s3.amazonaws.com/media/glitter_all_284359161.jpeg" alt="Card image">
                    <div class=".col-6 my-auto">
                        <hr>
                        <h4 class="display .col-6 logo-font text-black, main-header.style">
                            Our Packages
                        </h4>
                    </div>
                </div>
                <hr>
            </div>
            <div class=".col-6 my-auto">
                <h5 class="card-text">What we do</h5>
                <h5>We want to shine in a fast paced world.</h5>
                <p class="card-text">
                    Most people find new sites using search engines. KUK can get your website noticed. We thrive on bringing out the best results for our clients and positively blaze on the internet, social media and beyond! Take a look at our Brand Packages from the affordable to the grand Shine!
                </p>
            </div>
            <div class="row">
                <div class="col-7 my-auto">
                    <h5>
                        Contact us now to discuss your requirements
                    </h5>
                </div>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'contact' %}" class="shine-now-button btn btn-lg rounded-0 text-uppercase py-3">Get Quote</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid h-100">
        <div class="card">
            <div class="card-body">
                <div class="row h-100">
                    <div class="card bg-white text-dark">
                        <img class="card-img" src="https://kuk-milestone-4.s3.amazonaws.com/media/gold_295881072.jpg" alt="glitter image">
                    </div>
                </div>
                <h5>
                    Shine your business today!
                </h5>
            </div>
        </div>

{% endblock %}
