{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}


{% block content %}
<div class="container header-container">
    <div class="card box text-dark">
        <div class="card-body">
            <div class="row h-100">
                <div class="card bg-white text-dark">
                    <img class="card-img" src="https://kuk-milestone-4.s3.amazonaws.com/media/glitter_all_284359161.jpeg" alt="Card image">
                    <div class=".col-6 my-auto">
                        <hr>
                        <h4 class="display .col-6 logo-font text-black, main-header.style">
                            Digital Marketing
                        </h4>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="col-7 col-md-6 my-auto">
                <h5>We want to shine in a fast pace world
                </h5>
                <p class="card-text">
                    KUK can offer quick entry into the e-commerce marketplace.
                    We thrive on bringing out the best results for our clients
                    and positively blaze on the internet, social media and beyond!
                </p>
            </div>
            <div class="row">
                <div class="col-7 my-auto">
                    <h5>
                        Contact us now to discuss your requirements
                    </h5>
                </div>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'contact' %}" class="shine-now-button btn btn-lg rounded-0 text-uppercase py-3">Get Quote</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
