{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h4 class="display-4 logo-font text-black, main-header.style">
                   Contact Us
                </h4>
                 <!-- form requirements-start-->
                <form method="POST" name="sentRequirements" id="contactForm">
                    <div class="control-group-requirements">
                        <div class="form-group-requirements floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" name="name" id="name" required data-validation-required-requirements="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group-requirements floating-label-form-group controls">
                            <label for="contactFormControlInput1">Email address</label>
                            <input type="email" class="form-control" id="contactFormControlInput1" placeholder="Email Address" name="email" id="email" required data-validation-required-message="Please enter email address.">
                            <p class="help-block text-danger"></p>>
                        </div>
                  	<div class="control-group-requirements">
                        <label for="contactFormControlSelect1">Select a Package</label>
                        <select class="form-control" id="contactFormControlSelect1">
                            <option> Premuim Marketing(incudes website development</option>
                            <option> Branding and Logos</option>
                            <option> Graphic Design</option>
                            <option> Products Only</option>
                            <option> Advertising</option>
                        </select>
                    </div>
                    <div class="control-group-requirements">
                        <label for="contactFormControlTextarea rows="1">Please enter your requirements and let us choose the best fit</label>
                        <textarea class="form-control" id="contactFormControlTextarea1" rows="8"></textarea>
                        <br>
                        <div id="requirements-success">
                            <div class="form-group-requirements">
                            <button type="submit" class="btn btn-black" id="sendRequirementsButton">Submit here</button>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
{% endblock %}