{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}


{% block content %}
<div class="container header-container">
    <div class="card">
        <div class="card-body">
            <div class="row h-100">
                <div class="card bg-white text-dark">
                    <img class="card-img" src="https://kuk-marketing.s3.amazonaws.com/media/adobe-stock_353895569_12_JQykpEj.jpg" alt="Card image">
                    <div class=".col-6 my-auto">
                        <hr>
                        <h5 class="display-5 logo-font text-black, header.style">
                           Graphic Design
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-7 my-auto">
                <h5>What we do. We want to shine in a fast pace world
                </h5>
                <p class="card-text">We thrive on bringing out the best results for our clients
                    and positively blaze on the internet, social media and beyond!
                </p>
                <p>KUK offers a comprehensive range of services to take your company's Web presence to the next level.
                   Our expert designers will listen to you as they create a website that helps promote and grow your business.</p>
            </div>
            <div class="row">
                <div class="col-7 my-auto">
                    <h5>
                        Contact us now to discuss your requirements
                    </h5>
                </div>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'contact' %}" class="shine-now-button btn btn-lg rounded-0 text-uppercase py-3">Get Quote</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
