{% extends "base.html" %}

<!-- {% load static %} -->
{% load static %}

{% block extra_css %}
<!-- Bootstrap extra clean-blog for services app -->
<link rel="stylesheet" href="{ url_for('services/static', filename='services/css/clean-blog.min.css') }" >
<link rel="stylesheet" href="{ url_for('services/static', filename='services/css/clean-blog.css') }" >
<link rel="stylesheet" href="{ url_for('services/static', filename='services/css/services.css') }" >
<link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block extra_js %}
<!-- Bootstrap extra JavaScript for services app -->
    <script src="{ url_for('services/static', filename='vendor/jquery/jquery.min.js') }"></script>
    <script src="{ url_for('services/static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }"></script>
    <!-- Custom scripts for services template -->
    <script src="{ url_for('services/static', filename='js/clean-blog.min.js') }"></script>
{% endblock %}

{% block content %}
<div class="container header-container">
    <div class="card">
        <div class="card-body">
            <h4 class="col mix-auto">
             Shine your business today!
            </h4> 
            <div class="row h-100">
                <div class="card bg-white text-dark">
                    <img class="card-img" src="https://kuk-milestone-4.s3.amazonaws.com/media/glitter_all_284359161.jpeg" alt="Card image">
                    <div class=".col-6 my-auto">
                        <hr>
                        <h4 class="display .col-6 logo-font text-black, main-header.style">
                            Our Vision
                        </h4>
                    </div>
                </div>
                <hr>
            </div>
            <div class=".col-6 my-auto">
                <h3 class="card-text">Get online and shine with KUK!</h4>
                <hr>
                <div class="lead">We are a niche marketing business with the aim of shining in a fast-paced world. This brand new fullstack, bespoke, e-commerce website is a work-in-progress.  The basic site was built using Django-frameworks and Python tools for the backend; with Javascrsipt and Bootstrap components at the frontend, to create a cohesive and userfriendly website.  There is a payments feature and many other plugins which will be added as we continue to build a beautiful platform. Our Shining Package provides a premium opportunity for us to create your bespoke website from conception to completion. Not sure what you are looking for? Let our creative team come up with the best ideas to suit and optimise your business. Join us as we grow our web-presence together. We shall continue to try out new features and keep some of our favourites. Please visit us again soon, so you don't miss out on some exciting innovations. We look forward to working with you.</div>
                </div>
                <hr>
                <p class="card-text">We thrive on bringing out the best results for our clients
                    and positively blaze on the internet, social media and beyond!  Take a look at our Brand Packages
                    from the affordable to the grand Shine!
                </p>
            </div>
            <div class="row">
                <div class="col mix-auto">
                    <h4 class="col mix-auto">
                        Contact us now to discuss your requirements
                    </h4>
                </div>
                <div class="col mix-auto">
                    <h4 class="col mix-auto">
                        <a href="{% url 'contact' %}" class="shine-now-button btn btn-lg rounded-0 text-uppercase py-3">Get Quote</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid h-100">
        <div class="card-body">
                <div class="row h-100">
                    <div class="col mix-auto text-dark">
                        <img class="ccol mix-auto card-img" src="https://kuk-milestone-4.s3.amazonaws.com/media/gold_295881072.jpg" alt="glitter image">
                    </div>
                </div>
            </div>
{% endblock %}
