{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}


{% block content %}
<div class="container header-container">
    <div class="card box text-dark">
        <div class="card-body">
            <div class="row h-100">
                <div class="card bg-white text-dark my-auto">
                    <img class="card-img" src="https://kuk-marketing.s3.amazonaws.com/media/adobe-stock_353895569_12_JQykpEj.jpg" alt="Card image">
                    <div class=".col-6 my-auto">
                        <hr>
                        <h5 class="display-5 logo-font text-black, header.style">
                           Web Development and Your Brand
                        </h5>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="col mix-auto">
                <h5>We want to shine in a fast pace world
                </h5>
                <p class="col mix-auto">
                    Whether your needs are large or small, KUK can get you on the Web!
                <p>We thrive on bringing out the best results for our clients
                   and positively blaze on the internet, social media and beyond!
                </p>
            </div>
            <div class="row">
                <div class="col mix-auto">
                    <img class="card-img" src="{% static 'video/output.gif'%}" alt="kukmarketing" width="480px">
                </div>
                <div class="col mix-auto">
                    <h5>
                        Contact us now to discuss your requirements
                    </h5>
                </div>
                <div class="col mix-auto">
                    <h4>
                        <a href="{% url 'contact' %}" class="shine-now-button btn btn-lg rounded-0 text-uppercase py-3">Get Quote</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
