{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content_page %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Services</h2>
        </div>
    </div>
    <div class="row">
        <h2>Web Development</h2>
    </div>
    <div>
        <div class = "lead">What we do  - we want to shine in a fast pace world. 
        </div> 
            <div>
                <p>We thrive on bringing out the best results for our clients
                   and positively blaze on the internet, social media and beyond!
                </p>
            </div>    
                <div class= "row">
                    <div class= "col">
                        <h3>Contact us now to discuss your requirements</h3>
                    </div>
                </div> 
            </div>
        <div>
    </div>    
{% endblock %}
